<form class="ui form" #bookForm="ngForm" (ngSubmit)="submitForm()">
  <label for="title">Buchtitel</label>
  <input id="title" #titleInput="ngModel" name="title" [(ngModel)]="book.title" required />
  <bm-from-messages [control]="titleInput" controlName="title"></bm-from-messages>

  <label for="subtitle">Untertitel</label>
  <input id="subtitle" name="subtitle" [(ngModel)]="book.subtitle" required />

  <label for="isbn">ISBN</label>
  <input id="isbn" #isbnInput="ngModel" name="isbn" [(ngModel)]="book.isbn" required minlength="10" useValueAsDate maxlength="13" />
  <bm-from-messages [control]="isbnInput" controlName="isbn"></bm-from-messages>

  <label for="published">Erscheinungsdatum</label>
  <input id="published" type="date" #dateInput="ngModel" name="published" [(ngModel)]="book.published" required />
  <bm-from-messages [control]="dateInput" controlName="published"></bm-from-messages>

  <label for="author">Autor</label>
  <input id="author" #authorInput="ngModel" name="author" [(ngModel)]="book.authors[0]" required />
  <bm-from-messages [control]="authorInput" controlName="author"></bm-from-messages>

  <label for="description">Beschreibung</label>
  <textarea id="description" name="description" [(ngModel)]="book.description"></textarea>

  <label for="url">Bild</label>
  <div class="two fields">
    <div class="field">
      <input id="url" name="url" [(ngModel)]="book.thumbnails[0].url" placeholder="URL" />
    </div>
    <div class="field">
      <input id="text" name="text" [(ngModel)]="book.thumbnails[0].title" placeholder="Titel" />
    </div>
  </div>

  <button class="ui button" type="submit" [disabled]="bookForm.invalid">
    Speichern
  </button>
</form>
