<form class="ui form" [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <label for="title">Buchtitel</label>
  <input id="title" name="title" formControlName="title" required />
  <bm-from-messages [control]="bookForm.get('title')" controlName="title"></bm-from-messages>

  <label for="subtitle">Untertitel</label>
  <input id="subtitle" name="subtitle" formControlName="subtitle" />

  <label for="isbn">ISBN</label>
  <input id="isbn" name="isbn" formControlName="isbn" required />
  <bm-from-messages [control]="bookForm.get('isbn')" controlName="isbn"></bm-from-messages>

  <label for="published">Erscheinungsdatum</label>
  <input id="published" type="date" name="published" formControlName="published" useValueAsDate required />
  <bm-from-messages [control]="bookForm.get('published')" controlName="published"></bm-from-messages>

  <label for="authors">Autor</label>
  <div class="fields" formArrayName="authors">
    <div class="sixteen wide field" *ngFor="let c of authors.controls; index as i">
      <input id="authors" name="authors" [formControlName]="i" placeholder="Autor" required />
    </div>
  </div>
  <bm-from-messages [control]="bookForm.get('authors')" controlName="authors"></bm-from-messages>

  <label for="description">Beschreibung</label>
  <textarea id="description" name="description" formControlName="description"></textarea>

  <label for="url">Bild</label>
  <div formArrayName="thumbnails">
    <div class="fields" *ngFor="let c of thumbnails.controls; index as i" [formGroupName]="i">
      <div class="nine wide field">
        <input id="url" name="url" formControlName="url" placeholder="URL" />
      </div>
      <div class="seven wide field">
        <input id="text" name="text" formControlName="text" placeholder="Titel" />
      </div>
    </div>
  </div>

  <button class="ui button" type="submit" [disabled]="bookForm.invalid">
    Speichern
  </button>
</form>
