<form class="ui form" [formGroup]="bookForm" (ngSubmit)="submitForm()">
  <label for="title" i18n="@@BookFormComponent:book title">Buchtitel</label>
  <input id="title" name="title" formControlName="title" />
  <bm-form-messages [control]="bookForm.get('title')" controlName="title"></bm-form-messages>

  <label for="subtitle" i18n="@@BookFormComponent:book subtitle">Untertitel</label>
  <input id="subtitle" name="subtitle" formControlName="subtitle" />

  <label for="isbn" i18n="@@BookFormComponent:book isbn">ISBN</label>
  <input id="isbn" name="isbn" formControlName="isbn" />
  <bm-form-messages [control]="bookForm.get('isbn')" controlName="isbn"></bm-form-messages>

  <label for="published" i18n="@@BookFormComponent:book published">Erscheinungsdatum</label>
  <input id="published" type="date" name="published" formControlName="published" useValueAsDate />
  <bm-form-messages [control]="bookForm.get('published')" controlName="published"></bm-form-messages>

  <label for="authors" i18n="@@BookFormComponent:book authors">Autoren</label>
  <button type="button" class="ui mini button" (click)="addAuthorControl()" i18n="@@BookFormComponent:add author">+ Autor</button>
  <div class="fields" formArrayName="authors">
    <div class="sixteen wide field" *ngFor="let c of authors.controls; index as i">
      <input id="authors" name="authors" [formControlName]="i" placeholder="Autor" i18n-placeholder="@@BookFormComponent:author placeholder" />
    </div>
  </div>
  <bm-form-messages [control]="bookForm.get('authors')" controlName="authors"></bm-form-messages>

  <label for="description" i18n="@@BookFormComponent:book description">Beschreibung</label>
  <textarea id="description" name="description" formControlName="description"></textarea>

  <label for="url" i18n="@@BookFormComponent:book thumbnails">Bilder</label>
  <button type="button" class="ui mini button" (click)="addThumbnailControl()" i18n="@@BookFormComponent:add thumbnail">+ Bild</button>
  <div formArrayName="thumbnails">
    <div class="fields" *ngFor="let c of thumbnails.controls; index as i" [formGroupName]="i">
      <div class="nine wide field">
        <input id="url" name="url" formControlName="url" placeholder="URL" i18n-placeholder="@@BookFormComponent:pic url placeholder" />
      </div>
      <div class="seven wide field">
        <input id="pictitle" name="pictitle" formControlName="pictitle" placeholder="Bildtitel" i18n="@@BookFormComponent:pic title placeholder" />
      </div>
    </div>
  </div>

  <button class="ui button" type="submit" [disabled]="bookForm.invalid" i18n="@@BookFormComponent:book save">
    Speichern
  </button>
</form>
